# Dictionaries and For Loops

# Dictionaries

## Create dictionary

In [1]:
#1. Create a dictionary
restaurant_types = {'Red Lobster': 'Seafood', 
                    'Burger King': 'Fast Food',
                    'Safeway': 'Grocery Store'}
print(restaurant_types)

{'Red Lobster': 'Seafood', 'Burger King': 'Fast Food', 'Safeway': 'Grocery Store'}

In [2]:
#2. Checking the associated value for Burger King
print(restaurant_types['Burger King'])

Fast Food

In [3]:
#3. Checking if a key exists in a dictionary
restaurant_types.get('Olive Garden', 'Unknown')

'Unknown'

## Updating dictionaries

In [4]:
#4. Adding a new key-value pair
restaurant_types['Olive Garden'] = 'Italian'

In [5]:
#5. Overwriting  a value of a key
restaurant_types['Safeway'] = 'Grocery'
print(restaurant_types)

{'Red Lobster': 'Seafood', 'Burger King': 'Fast Food', 'Safeway': 'Grocery', 'Olive Garden': 'Italian'}

In [6]:
#6. Drop a key-value pair
del restaurant_types['Burger King']
print(restaurant_types)

{'Red Lobster': 'Seafood', 'Safeway': 'Grocery', 'Olive Garden': 'Italian'}

## Nested dictionaries

In [7]:
weather_dictionary = { "coord":{"lon":10,
                                "lat":53.55},
                        "weather":[{"id":800,
                                    "main":"Clear",
                                    "description":"clear sky",
                                    "icon":"01d"}],
                        "base":"stations",
                        "main":{"temp":290.32,
                                "feels_like":290.1,
                                "temp_min":289.81,
                                "temp_max":291.05,
                                "pressure":1005,
                                "humidity":77},
                        "visibility":10000,
                        "wind":{"speed":5.14,
                                "deg":270},
                        "clouds":{"all":0},
                        "dt":1712655018,
                        "sys":{"type":1,
                                "id":1263,
                                "country":"DE",
                                "sunrise":1712637190,
                                "sunset":1712686163},
                        "timezone":7200,
                        "id":2911298,
                        "name":"Hamburg",
                        "cod":200
                    }

In [8]:
#7. Number of keys
print(len(weather_dictionary))

13

In [9]:
#8. List of keys
print(weather_dictionary.keys())

dict_keys(['coord', 'weather', 'base', 'main', 'visibility', 'wind', 'clouds', 'dt', 'sys', 'timezone', 'id', 'name', 'cod'])

In [10]:
#9. List of values
print(weather_dictionary.values())

dict_values([{'lon': 10, 'lat': 53.55}, [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'stations', {'temp': 290.32, 'feels_like': 290.1, 'temp_min': 289.81, 'temp_max': 291.05, 'pressure': 1005, 'humidity': 77}, 10000, {'speed': 5.14, 'deg': 270}, {'all': 0}, 1712655018, {'type': 1, 'id': 1263, 'country': 'DE', 'sunrise': 1712637190, 'sunset': 1712686163}, 7200, 2911298, 'Hamburg', 200])

In [11]:
#10. Getting a value from a dictionary
weather_dictionary['coord']['lat']

53.55

# For Loops

In [12]:
prices = {'apples': '3.0', 'oranges': '2.5', 'kiwis': '4.0'}

In [13]:
#11. Print the keys
for key_prices in prices.keys():
    print(key_prices)

#2nd option
for key in prices:
    print(key)

apples
oranges
kiwis
apples
oranges
kiwis

In [14]:
#12. Print key-value pairs
for key_value_prices in prices.items():
    print(key_value_prices)

#2nd option
for key in prices:
    print(key)
    print(prices[key])

('apples', '3.0')
('oranges', '2.5')
('kiwis', '4.0')
apples
3.0
oranges
2.5
kiwis
4.0

In [15]:
#13. Print number 2, 4, 6, 8
test1= range(2, 9, 2)
for i in test1:
    print(i)

#2nd option
total = 0
for i in range(4): #this means that we are going to commit the following line 4 times. so we repeat the total +=2 FOUR time(define by the range4)
    total += 2
    print(total)

2
4
6
8
2
4
6
8

In [16]:
names = ['Alice', 'Bob', 'Charlie', 'Delia']
jobs = ['doctor', 'builder', 'cook', 'developer']

In [17]:
#14. Printing "{name} works as a {job}"
for name, job in zip(names, jobs):
    print(f'{name} works as a {job}')

Alice works as a doctor
Bob works as a builder
Charlie works as a cook
Delia works as a developer

In [18]:
list_1 = [0,1,2,3,4,5,6,7,8,9,10]

In [20]:
#15. Print even numbers and save them to a list
list_even = []

for i in list_1:
    if i % 2 == 0:
        print(i)
        list_even.append(i)

print(list_even)

0
2
4
6
8
10
[0, 2, 4, 6, 8, 10]

In [21]:
#16. Print the index + element
for idx, i in enumerate(list_1):
    print(idx,i)

#2nd option
for idx,num in enumerate(range(0,11)):
    if num % 2 != 0:
        print(idx, num)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
1 1
3 3
5 5
7 7
9 9

# While Loops

In [22]:
names  = ['Alice', 'Diane', 'Tom', 'Bob', 'Waldo', 'Ross', 'Sonia', 'Amy']

found = False
i = 0
len(names)

8

In [23]:
#17. Finding certain items in lists
while i < len(names):
    if names[i] == 'Waldo':
        print(f'We found Waldo in loop: {i+1}')
        break
    else:
        if names[i] != 'Waldo':
            print(f'Waldo is not found in loop:{i+1}')
    i += 1

Waldo is not found in loop:1
Waldo is not found in loop:2
Waldo is not found in loop:3
Waldo is not found in loop:4
We found Waldo in loop: 5